<!DOCTYPE html>
{% load static %}

<html lang="en" ng-app="app">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NCA</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
    <script src="{% static 'app.js' %}"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div ng-controller="CanvasController">
        <div>
            <button ng-click="draw()">Redraw</button>
        </div>
        <div>
            <canvas id="canvas" style="border: 1px gray solid;" ng-click="click($event)"></canvas>
        </div>
    </div>
  </body>
</html>
